name: "Publish Package"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  NPM_REGISTRY_URL: "https://npm.pkg.github.com/"

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"
          registry-url: "https://npm.pkg.github.com/"
          scope: "@ablause"

      - name: Cache node_modules
        id: cache-modules
        uses: actions/cache@v2.1.4
        with:
          path: node_modules
          key: 12.x-${{ runner.OS }}-build-${{ hashFiles('package.json') }}

      - name: Install
        if: steps.cache-modules.outputs.cache-hit != 'true'
        run: yarn install --non-interactive

      - name: Build package
        run: yarn build

      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
